body {
    background-color: aquamarine;
}

header {
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}

main {
    background-color: brown;
}

section {
    background-color: black;
    border: 2px solid white;
    color: white;
}

footer {
    border: 2px solid black;
}

ul {
    list-style-type: none;
}